<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>customSites</key>
	<dict>
		<key>0D32564D-932E-4E59-BA55-CA8AC3D5C415</key>
		<dict>
			<key>enabled</key>
			<true/>
			<key>keyword</key>
			<string>dev-checker</string>
			<key>text</key>
			<string>Search a site with id = '{query}'</string>
			<key>url</key>
			<string>https://dp-dev.enlighten.kr/checker/view?id={query}</string>
		</dict>
		<key>0FE785C9-D294-4882-A2CA-8333D4A7B662</key>
		<dict>
			<key>enabled</key>
			<true/>
			<key>keyword</key>
			<string>checker</string>
			<key>text</key>
			<string>Search a site with id = '{query}'</string>
			<key>url</key>
			<string>https://dp.enlighten.kr/checker/view?id={query}</string>
		</dict>
		<key>9FAD0ECE-FE91-4600-AB9F-33025C6EBD4F</key>
		<dict>
			<key>enabled</key>
			<true/>
			<key>keyword</key>
			<string>biz</string>
			<key>text</key>
			<string>Search a plant with id =  '{query}'</string>
			<key>url</key>
			<string>https://bizking.enlighten.kr/detail/{query}/accumulate</string>
		</dict>
		<key>D3AFC337-EF0F-4199-9166-E0135BA51E4C</key>
		<dict>
			<key>enabled</key>
			<true/>
			<key>keyword</key>
			<string>dev-biz</string>
			<key>text</key>
			<string>Open dev-bizking</string>
			<key>url</key>
			<string>https://bizking.dev.enlighten.kr</string>
		</dict>
		<key>F25370B6-9167-413A-9405-CB5628AAE44D</key>
		<dict>
			<key>enabled</key>
			<true/>
			<key>keyword</key>
			<string>biz</string>
			<key>text</key>
			<string>Open bizking</string>
			<key>url</key>
			<string>https://bizking.enlighten.kr</string>
		</dict>
		<key>F507F265-493C-483C-B1DD-9FF402C42336</key>
		<dict>
			<key>enabled</key>
			<true/>
			<key>keyword</key>
			<string>dev-biz</string>
			<key>text</key>
			<string>Search a plant with id = '{query}'</string>
			<key>url</key>
			<string>https://bizking.dev.enlighten.kr/detail/{query}/accumulate</string>
		</dict>
	</dict>
</dict>
</plist>
