<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>bundleid</key>
	<string>com.uniqon.hangul-spelling</string>
	<key>category</key>
	<string>Tools</string>
	<key>connections</key>
	<dict>
		<key>D2EA76B9-7374-4374-AEEF-5296C86CBB70</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>12EBFFA4-8941-46F9-9B46-39F2CD0DFEEC</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
	</dict>
	<key>createdby</key>
	<string>Sungmyung Lee</string>
	<key>description</key>
	<string>한글 맞춤법 검사 - 부산대 한글 맞춤법 검사기 사용</string>
	<key>disabled</key>
	<false/>
	<key>name</key>
	<string>한글 맞춤법 검사기</string>
	<key>objects</key>
	<array>
		<dict>
			<key>config</key>
			<dict>
				<key>action</key>
				<integer>0</integer>
				<key>argument</key>
				<integer>1</integer>
				<key>focusedappvariable</key>
				<false/>
				<key>focusedappvariablename</key>
				<string></string>
				<key>hotkey</key>
				<integer>40</integer>
				<key>hotmod</key>
				<integer>1310720</integer>
				<key>hotstring</key>
				<string>K</string>
				<key>leftcursor</key>
				<false/>
				<key>modsmode</key>
				<integer>0</integer>
				<key>relatedAppsMode</key>
				<integer>0</integer>
			</dict>
			<key>type</key>
			<string>alfred.workflow.trigger.hotkey</string>
			<key>uid</key>
			<string>D2EA76B9-7374-4374-AEEF-5296C86CBB70</string>
			<key>version</key>
			<integer>2</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>concurrently</key>
				<false/>
				<key>escaping</key>
				<integer>102</integer>
				<key>script</key>
				<string>#!/bin/bash

# via: https://unix.stackexchange.com/a/384505

# Create an autodeleted temporary directory.
Work="$(mktemp -d)" || exit 1
trap "cd / ; rm -rf '$Work'" EXIT

# Convert all command-line attributes to a single query,
# escaping the important characters.
rawAmp='&amp;'   ; escAmp='&amp;amp;'
rawLt='&lt;'    ; escLt='&amp;lt;'
rawGt='&gt;'    ; escGt='&amp;gt;'
rawQuote='"' ; escQuote='&amp;#34;'
#QUERY="$*"
QUERY="$1"
QUERY="${QUERY//$rawAmp/$escAmp}"
QUERY="${QUERY//$rawQuote/$escQuote}"
QUERY="${QUERY//$rawLt/$escLt}"
QUERY="${QUERY//$rawGt/$escGt}"

# Create a HTML page with the POST data fields,
# and have it auto-submit when the page loads.
cat &gt; "$Work/load.html" &lt;&lt;END
&lt;!DOCTYPE html&gt;
&lt;html&gt;
 &lt;head&gt;
  &lt;title&gt;&amp;hellip;&lt;/title&gt;
  &lt;meta http-equiv="Content-Type" content="text/html; charset=utf-8"&gt;
  &lt;script type="text/javascript"&gt;
   function dosubmit() { document.forms[0].submit(); }
  &lt;/script&gt;
 &lt;/head&gt;
 &lt;body onload="dosubmit();"&gt;
  &lt;form action="http://speller.cs.pusan.ac.kr/results" method="POST" accept-charset="utf-8"&gt;
   &lt;input type="hidden" name="text1" value="$QUERY"&gt;
  &lt;/form&gt;
 &lt;/body&gt;
&lt;/html&gt;
END

# Load the generated file in the browser.
open "file://$Work/load.html"

# Web browser returns immediately, so we want to give it a couple
# of seconds to actually read the page we generated,
# before we exit (and our page vanishes).
sleep 2</string>
				<key>scriptargtype</key>
				<integer>1</integer>
				<key>scriptfile</key>
				<string></string>
				<key>type</key>
				<integer>0</integer>
			</dict>
			<key>type</key>
			<string>alfred.workflow.action.script</string>
			<key>uid</key>
			<string>12EBFFA4-8941-46F9-9B46-39F2CD0DFEEC</string>
			<key>version</key>
			<integer>2</integer>
		</dict>
	</array>
	<key>readme</key>
	<string></string>
	<key>uidata</key>
	<dict>
		<key>12EBFFA4-8941-46F9-9B46-39F2CD0DFEEC</key>
		<dict>
			<key>xpos</key>
			<real>370</real>
			<key>ypos</key>
			<real>115</real>
		</dict>
		<key>D2EA76B9-7374-4374-AEEF-5296C86CBB70</key>
		<dict>
			<key>xpos</key>
			<real>165</real>
			<key>ypos</key>
			<real>115</real>
		</dict>
	</dict>
	<key>userconfigurationconfig</key>
	<array/>
	<key>variablesdontexport</key>
	<array/>
	<key>version</key>
	<string>1.0.0</string>
	<key>webaddress</key>
	<string>uniqon.com</string>
</dict>
</plist>
